streamlit
Flask>=2.3.0

# CrewAI
crewai>=0.40.0
crewai-tools>=0.5.0

# OpenAI + utils
openai>=1.0.0
requests>=2.31.0
python-dotenv>=1.0.0
streamlit-cookies-manager>=0.2.0
pandas>=2.2.2

# Newspaper
newspaper3k
lxml==4.9.3
lxml_html_clean

# spaCy + deps
